[run]
omit =
    {{ cookiecutter.project_slug }}

[report]
exclude_lines =
    noqa
    pragma: no cover
    def __unicode__
    def __repr__
    def __str__
    if settings\.DEBUG
    raise AssertionError
    raise NotImplementedError
    assert

show_missing = True
