{{ cookiecutter.env_prefix }}DEBUG=on

{{ cookiecutter.env_prefix }}ALLOWED_HOSTS=127.0.0.1,

{{ cookiecutter.env_prefix }}SECRET_KEY=secret-key

{{ cookiecutter.env_prefix }}DATABASE_URL=psql://postgres:{{ cookiecutter.database_password }}@127.0.0.1:5432/{{ cookiecutter.project_slug }}_db
{{ cookiecutter.env_prefix }}CELERY_BROKER=redis://127.0.0.1:6379/1
{{ cookiecutter.env_prefix }}REDIS_URL=redis://127.0.0.1:6379/2

{{ cookiecutter.env_prefix }}DEV_INSTALLED_APPS=debug_toolbar
{{ cookiecutter.env_prefix }}DEV_MIDDLEWARE=debug_toolbar.middleware.DebugToolbarMiddleware

{{ cookiecutter.env_prefix }}EMAIL_HOST=127.0.0.1
{{ cookiecutter.env_prefix }}EMAIL_PORT=1025
{{ cookiecutter.env_prefix }}EMAIL_HOST_USER=user
{{ cookiecutter.env_prefix }}EMAIL_HOST_PASSWORD=password
{{ cookiecutter.env_prefix }}EMAIL_USE_TLS=off

{{ cookiecutter.env_prefix }}USE_SENTRY=off

{{ cookiecutter.env_prefix }}SESSION_COOKIE_HTTPONLY=off
{{ cookiecutter.env_prefix }}SESSION_COOKIE_SECURE=off
{{ cookiecutter.env_prefix }}CSRF_COOKIE_SECURE=off

{{ cookiecutter.env_prefix }}DEFAULT_RENDERER_CLASSES=rest_framework.renderers.JSONRenderer,rest_framework.renderers.BrowsableAPIRenderer

{{ cookiecutter.env_prefix }}FEATURES=SWAGGER
