{{ cookiecutter.__env_prefix }}ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost
{{ cookiecutter.__env_prefix }}SECRET_KEY=secret-key

{{ cookiecutter.__env_prefix }}DEBUG=on


{{ cookiecutter.__env_prefix }}DATABASE_URL=postgres://{{ cookiecutter.__db_user }}:{{ cookiecutter.__db_password }}@postgres-db:5432/{{ cookiecutter.__db_name }}
{{ cookiecutter.__env_prefix }}CELERY_BROKER=redis://redis-db:6379/0
{{ cookiecutter.__env_prefix }}REDIS_URL=redis://redis-db:6379/0

{{ cookiecutter.__env_prefix }}EMAIL_HOST=mailpit
{{ cookiecutter.__env_prefix }}EMAIL_PORT=1025
{{ cookiecutter.__env_prefix }}EMAIL_USE_TLS=off

{{ cookiecutter.__env_prefix }}DJANGO_ADMIN_URL=admin/

# Minio credentials
AWS_ACCESS_KEY_ID={{ cookiecutter.__minio_access_key }}
AWS_SECRET_ACCESS_KEY={{ cookiecutter.__minio_secret_key }}

# Files storage settings
{{ cookiecutter.__env_prefix }}DEFAULT_FILE_STORAGE_BUCKET_NAME={{ cookiecutter.__minio_bucket_name }}
{{ cookiecutter.__env_prefix }}DEFAULT_FILE_STORAGE_ENDPOINT_URL=http://minio:9000/
{{ cookiecutter.__env_prefix }}DEFAULT_FILE_STORAGE_CUSTOM_DOMAIN=127.0.0.1:9000/{{ cookiecutter.__minio_bucket_name }}
{{ cookiecutter.__env_prefix }}DEFAULT_FILE_STORAGE_URL_PROTOCOL=http:

{{ cookiecutter.__env_prefix }}USE_SENTRY=off
{{ cookiecutter.__env_prefix }}SESSION_COOKIE_HTTPONLY=off
{{ cookiecutter.__env_prefix }}SESSION_COOKIE_SECURE=off
{{ cookiecutter.__env_prefix }}CSRF_COOKIE_SECURE=off

{{ cookiecutter.__env_prefix }}DEV_INSTALLED_APPS=debug_toolbar
{{ cookiecutter.__env_prefix }}DEV_MIDDLEWARE=debug_toolbar.middleware.DebugToolbarMiddleware

{{ cookiecutter.__env_prefix }}DEFAULT_RENDERER_CLASSES=rest_framework.renderers.JSONRenderer,rest_framework.renderers.BrowsableAPIRenderer
{{ cookiecutter.__env_prefix }}FEATURES=SWAGGER
