{{ cookiecutter.project_slug | upper() }}_DEBUG=on

{{ cookiecutter.project_slug | upper() }}_ALLOWED_HOSTS=127.0.0.1,

{{ cookiecutter.project_slug | upper() }}_SECRET_KEY=secret-key

{{ cookiecutter.project_slug | upper() }}_DATABASE_URL=psql://postgres:{{ cookiecutter.database_password }}@127.0.0.1:5432/{{ cookiecutter.project_slug }}_db
{{ cookiecutter.project_slug | upper() }}_CELERY_BROKER=redis://127.0.0.1:6379/1

{{ cookiecutter.project_slug | upper() }}_DEV_INSTALLED_APPS=debug_toolbar
{{ cookiecutter.project_slug | upper() }}_DEV_MIDDLEWARE=debug_toolbar.middleware.DebugToolbarMiddleware

{{ cookiecutter.project_slug | upper() }}_EMAIL_HOST=127.0.0.1
{{ cookiecutter.project_slug | upper() }}_EMAIL_PORT=1025
{{ cookiecutter.project_slug | upper() }}_EMAIL_HOST_USER=user
{{ cookiecutter.project_slug | upper() }}_EMAIL_HOST_PASSWORD=password
{{ cookiecutter.project_slug | upper() }}_EMAIL_USE_TLS=off

{{ cookiecutter.project_slug | upper() }}_USE_SENTRY=off

{{ cookiecutter.project_slug | upper() }}_SESSION_COOKIE_HTTPONLY=off
{{ cookiecutter.project_slug | upper() }}_SESSION_COOKIE_SECURE=off
{{ cookiecutter.project_slug | upper() }}_CSRF_COOKIE_SECURE=off

{{ cookiecutter.project_slug | upper() }}_DEFAULT_RENDERER_CLASSES=(rest_framework.renderers.JSONRenderer,rest_framework.renderers.BrowsableAPIRenderer,)

{{ cookiecutter.project_slug | upper() }}_FEATURES=SWAGGER,
