name: Backend Skeleton
on:
  push:
    branches:
      - main
  pull_request: {}
  schedule:
    - cron:  '0 14 * * MON'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python 3.12.5
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.5
      - name: Install Python dependencies
        run: |
          python3 -m venv venv
          source ./venv/bin/activate
          pip install -U pip
          pip install -r ./requirements.txt
      - name: Run tests on hooks
        run: |
          source ./venv/bin/activate
          inv test.hooks
      - name: Run tests on building project
        run: |
          source ./venv/bin/activate
          cookiecutter --no-input --overwrite-if-exists --output-dir build .
          cd build/awesome
          cp ./api/.env.example ./api/.env
          make api-test
